POSTGRES_DB=appdb
POSTGRES_USER=aws_platform_app
POSTGRES_PASSWORD=change-this-local-password

APP_NAME=AWS Platform Application
APP_ENV=local-docker
APP_VERSION=1.2.0-local

DB_HOST=aws-platform-postgres
DB_PORT=5432
DB_NAME=appdb
DB_USERNAME=aws_platform_app
DB_PASSWORD=change-this-local-password
DB_SSLMODE=disable
DB_CONNECT_TIMEOUT=5

AWS_EC2_METADATA_DISABLED=true
